<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/1st.css">
    <title>AKSHIT</title>


</head>
<body>

	
   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav" style="
   background-color:black;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for('index') }}">
			  <img class="img" src="../static/logo.png" alt="Malaria Detector" height="50">
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger " href="{{ url_for('index') }}">Home</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://github.com/AkshitTayade/Malaria-Detection-" style="text-transform: lowercase;margin-top: -0px;" target="_blank"><i class="fa fa-github" style="font-size: 18px;"></i>&nbsp;akshittayade</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
	


    <div id="about" class="section wb">
      <div class="jumbotron">
       <div class="container">
         <h2 class="title"> Malaria Detector</h2><br><br>
        <p class="discription">Malaria Detector made using Machine learning</p>
        <div class="d-flex justify-content-center">
          <a href="{{ url_for('download') }}"  class="btn-gallery">Download Sample Cells</a>
        </div>
       </div>
      </div> 
    </div><!-- end section -->
	
    <section style="margin-top: 100px;">
      <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="preview-zone hidden">
                  <div class="box box-solid">
                    
                    <div class="box-body"></div>
                  </div>
                </div>
                <div class="dropzone-wrapper">
                  <div class="dropzone-desc">
                    <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
                    <p>Choose or drag image file here.</p>
                  </div>
                  <input type="file" name="file_loc" accept="image/*" class="dropzone">
                </div>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn" value="submit">Upload</button>
            </div>
          </div>
        </div>
      </form>
    </section>

    {% if img_name %}
    <div id="result">
      <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="message-box">                        
                  <h2 class="result_title">Results</h2>
                  <p class="lead" style="color: {{ color }};">
                    Result: {{ output }}
                  </p>
                  <a href="{{ url_for('index') }}">
                    <button type="submit" class="btn" value="submit" style="float: left;">Reset</button>
                  </a>
                 
              </div>
            </div>

          <div class="col-md-6">
              <div class="image">
                <img src="{{ url_for('static', filename = img_name) }}" width="400" height="400" alt="" class="img-fluid img-rounded">
              </div>
          </div>
          </div>
      </div>
    </div>

    <footer class="footer footer--bg">
      <div class="container text-center">
        <p class="footer__paragraph">Copyright &copy; 2020 Akshit Tayade & Vidhi Sejpal , All Rights Reserved.</p>
      </div>
    </footer>
    {% endif %}

  
    


    <script src="../static/1st.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>

</body>
</html>